<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>

</head>
<body>
<div class="container">
    <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href={{ url_for('index') }} class="nav-link">Главная</a></li>
        </ul>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href={{ url_for('new_task') }} class="nav-link">Новая задача</a></li>
        </ul>
        <form class="col-4" method="post" action="{{ url_for('search') }}">
            <p><input class="form-control" type="text" name="find" placeholder="Поиск"></p>
        </form>
        <div style="padding-left: 16px;padding-top: 8px;">{{ current_user.login }}</div>
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="{{ url_for('logout') }}" class="nav-link">Logout</a></li>
        </ul>
    </header>
</div>
{% block body %}{% endblock %}
</body>
</html>