<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>
<body>

    {% for category, message in  get_flashed_messages(with_categories=true) %}
	<spam class="{{ category }}">{{ message }}</spam>
    {% endfor %}

    <form action="" method="post" novalidate>
	{{ form.csrf_token }}
    <input type="hidden" name="name" value= {{ form.name }}>
	<p>
	    {{ form.title.label() }}
	    {{ form.title() }}
	    {% if form.title.errors %}
		{% for error in form.login.errors %}
		    {{ error }}
		{% endfor %}
	    {% endif %}
	</p>
	<p>
	    {{ form.description.label() }}
	    {{ form.description() }}
	</p>
	<p>
	    {{ form.end_time.label() }}
	    {{ form.end_time() }}
	</p>
	<p>
	    {{ form.create }} {{ form.exit }}
	</p>
    </form>

</body>
</html>