<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Авторизация</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
	<body class="text-center">
		<form action="" method="post">
			{{ form.csrf_token }}
			<div class="container" style="margin-top: 300px; width: 300px">
					<div class="mb-3">
						{% for category, message in get_flashed_messages(with_categories=true) %}
							{{ message }}
						{% endfor %}
					</div>
					{{ form.login(class_="form-control", placeholder="Логин") }}
					{{ form.password(class_="form-control", placeholder="Пароль") }}
				<div class="container d-flex m-2 ml-5">
					Запомнить меня
					{{ form.remember(class_="form-control ml-1", style="height:25px;width:25px") }}
				</div>
				<div class="d-flex justify-content-between">
					{{ form.submit(class_="form-control", style="margin-right:5px;", value="Авторизация") }}
					{{ form.to_signup(class_="form-control", value="Регистрация") }}
				</div>
			</div>
		</form>
	</body>
</html>